{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    {% for story in stories %}
        <div class="col-md-12">
            <h3>{{ story.title }}</h3>
                <p>{{ news.body }}</p>

        </div>
    {% endfor %}
</div>
{% endblock %}