{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    {% for news in newsList %}
        <div class="col-md-12">
            <h3>{{ news.title }}</h3>
                <p>{{ news.body }}</p>

        </div>
{% endfor %}
</div>
{% endblock %}